{% extends "base.html" %}

{% block content %}
<h1>Reclaim you Content</h1>

<p>If you made it, you should own it. That doesn't just means things in the
real world, it means things in the digital world as well. Especially now that
companies use your content to make money.  If you no longer want you content
there, you should be able to remove it.</p>

<p>On Reddit, you <em>can</em> delete your content. But easy, it is not. You
have to go to every single piece of content and individually choose to delete
it. If you've been on the site for years, this can take hours. Basically it is
so inconvinient, that people don't do. So even though technically, you own your
content, in reality you do not.</p>

<h2>Why would you delete your content</h2>

<p>Ultimately, it doesn't matter why you want to remove your content from
Reddit. It's your content and you should have the right to choose what happens
to it. If you're reading this, because you're wondering why people make this choice, then there are a few common reasons</p>

<ul>
  <li>You no longer support Reddit as a company, and don't want your content to be part of their profit machine</li>
  <li>The content you made no longer represents who you are as a person.</li>
  <li>You've shared personal details you no longer feel comfortable being shared.</li>

</ul>

{% endblock %}
