{% extends "base.html" %}

{% block content %}
<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Deleting your content</h2>
        <hr class="light">
        <p class="text-faded">Currently destroying your content.
        </p>

        <ul class="list-group">
          <li class="list-group-item list-group-item-success">You started the process</li>
          <li id="state_validate" class="list-group-item">We validated that we got good data</li>
          <li id="state_access" class="list-group-item">You give the final confirmation</li>
          <li id="deleting_comments" class="list-group-item justify-content-between">Deleting Comments <span class="badge badge-default badge-pill" style="background-color: cadetblue" id="count_comments_deleted">0</span>  </li>
          <li id="deleting_submissions" class="list-group-item justify-content-between">Deleting Submissions
           <span class="badge badge-default badge-pill" style="background-color: cadetblue" id="count_submissions_deleted">0</span>
        </li>
        </ul>
        <br>
        <a class="btn btn-default btn-xl js-scroll-trigger" href="/">Take me to the homepage!</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
  setInterval(function(){

  // Simply way of testing whether the task in done, in which
  // case there is no need to poll for an update.
  if (!$('#deleting_submissions').hasClass('list-group-item-success')) {
    $.ajax({
      method: "GET",
      url: "http://localhost:8000/get_job_status/",
      data: { identifier: "{{ job.identifier }}" }
    })
      .done(function( msg ) {
        // TODO: Add error handling here as well
        $('#count_comments_deleted').text(msg.comments_deleted);
        $('#count_submissions_deleted').text(msg.submissions_deleted);

        // TODO: Fix hardcoding of state here
        if (msg.state >= 41) {
          $('#deleting_submissions').addClass('list-group-item-success');
          $('#deleting_comments').addClass('list-group-item-success');
          $('#state_validate').addClass('list-group-item-success');
          $('#state_access').addClass('list-group-item-success');
        } else if (msg.state >= 40) {
          $('#deleting_comments').addClass('list-group-item-success');
          $('#state_validate').addClass('list-group-item-success');
          $('#state_access').addClass('list-group-item-success');
        } else if (msg.state >= 30) {
          $('#state_validate').addClass('list-group-item-success');
          $('#state_access').addClass('list-group-item-success');
        } else if (msg.state >= 20) {
          $('#state_validate').addClass('list-group-item-success');
        }
      });
    }
  }, 1000);

</script>
{% endblock %}
