{% extends "base.html" %}

{% block brand_navigation %}
{% comment %}On the homepage itself, the link just scrolls to the top
rather than reloading the page, which just seems silly{% endcomment %}
<a class="navbar-brand js-scroll-trigger" href="#page-top">Never Saiddit</a>
{% endblock %}

{% block on_page_navigation %}
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#about">Why</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#services">How</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#contact">By Whom</a>
    </li>
  </ul>
</div>
{% endblock %}

{% block content %}
<header class="masthead">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 style="text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black" id="homeHeading">Take back ownership of your content</h1>
      <hr>
      <p style="color: white; text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black">If you made it, you should own it. That doesn't just means things in
the real world, it means things in the digital world as well. Never Saiddit
gives you the ultimate option, to delete your content on Reddit. It's simple
and protects your privacy.</p>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'reddit:authorize' %}">Lets Do This</a>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white"><u>Why</u> delete your content?</h2>
        <hr class="light">
        <p class="text-faded">

<p class="text-faded">Ultimately, it doesn't matter why you want to remove your
content from Reddit. It's your content and you should have the right to choose
what happens to it. If you want it to stay, it should stay. If you want it gone,
it should be gone. If you're reading this, because you're wondering why people
make this choice, then there are a few common reasons why people choose to have their content deleted</p>

<ul class="text-faded">
  <li>Doesn't support Reddit anymore. Do not want to contribute to their profits.</li>
  <li>Content made no longer represents who that person is.</li>
  <li>Personal details got shared that shouldn't have.</li>

</ul>

<p class="text-faded">On Reddit, you <em>can</em> delete your content. But
easy, it is not. You have to go to every single piece of content and
individually choose to delete it. If you've been on the site for years, this
can take hours. Basically it is so inconvinient, that people don't do it. So
even though technically, you own your content, in reality you do not.</p>

</p>

        <a class="btn btn-default btn-xl js-scroll-trigger" href="#services">How does it happen?</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">How does the deletion happen?</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-link text-primary sr-icons"></i>
          <h3>With Reddits API</h3>
          <p class="text-muted">The process is done via Reddit's own API, so there is no risk of it being stopped in the middle of the process by anti-spam protections.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-lock text-primary sr-icons"></i>
          <h3>No passwords shared!</h3>
          <p class="text-muted">The process is completely done via OAuth, that means your password is never shared with us and can remove access at any time!</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-users text-primary sr-icons"></i>
          <h3>No need to be a geek</h3>
          <p class="text-muted">You just click a few buttons, authorize us and then everything will be handled automatically by us. You don't need to setup a greasemonkey script, run a python script or any other thing that requires technical knowledge.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
          <h3>Complete the process in a single go</h3>
          <p class="text-muted">Some tools limit you to the last 1000 comments or submissions, requirering the tool to be run over and over again. We do not, run once and the process will be completed in one go.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="call-to-action bg-dark">
  <div class="container text-center">
    <h2>Ready to reclaim your ownership?</h2>

    <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'reddit:authorize' %}">Lets Do This</a>
  </div>
</div>
{% endblock %}
