{% load static i18n compress%}<!DOCTYPE html>
<html lang="en">

  <head>
    {% block analytics %}
    {% if not else %}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106548820-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-106548820-1');
    {% endif %}
    </script>
    {% endblock %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Never Saiddit{% endblock title %}</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    {% compress css %}
    {% block css %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">
    {% endblock %}
    {% endcompress %}

  </head>

  <body id="page-top">

    {# TODO: Need to something for messages here #}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        {% block brand_navigation %}
        {% comment %}This is a block so other pages can have different
        behavior. Either using it as a "go-to-top" link or perhaps
        just disabling the link, if the user is on a page we do not wish
        them to easily navigate away from.{% endcomment %}
        <a class="navbar-brand js-scroll-trigger" href="/">Never Saiddit</a>
        {% endblock %}
        {% block on_page_navigation %}
        {% endblock %}
      </div>
    </nav>

    {% block content %}
    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Content will be here</h2>
            <hr class="light">
            <p class="text-faded">If you're seeing this, then something went wrong. There should be lots of really cool text here, explaining all about what this page is about.</p>
            <a class="btn btn-default btn-xl js-scroll-trigger" href="/">Take me to the homepage!</a>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}

    {% block footer %}
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="primary">
            <p>Did this project help you? Then I'd love to hear about it. And if you got any questions then you're also more than welcome to out to me by E-mail and I'll get back to you as soon as I'm able.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 text-center">
              <i class="fa fa-github fa-3x sr-contact"></i>
              <p><a href="https://github.com/Damgaard">Damgaard</a></p>
          </div>
          <div class="col-lg-4 text-center">
              <i class="fa fa-envelope-o fa-3x sr-contact"></i>
              <p><a href="mailto:andreas.damgaard.p@gmail.com">andreas.damgaard.p@gmail.com</a></p>
          </div>
          <div class="col-lg-4 text-center">
              <i class="fa fa-server fa-3x sr-contact"></i>
              <p><a href="https://andreas-damgaard.com">Personal Website</a></p>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}

    {% block modal %}{% endblock modal %}

    {% compress js %}
    {% block js %}
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/creative.min.js' %}"></script>
    {% endblock %}
    {% endcompress %}

  </body>

</html>
