{% extends "base.html" %}

{% block content %}
<h2>Currently destroying your reddit account!!</h2>

<br>
<p>Hope this is what you wanted :)</p>

<br>
<h3>Progress</h3>
<p class="text-muted">Asking you to authorize us<p>
<p id="state_access" {% if object.state > 20 %}class="text-muted"{% endif %}>You grant us access on Reddit</p>
<p  id="state_validate" {% if object.state > 30 %}class="text-muted"{% endif %}>Validating that we got good data</p>
<p id="state_deleting" {% if object.state > 40 %}class="text-muted"{% endif %}>Deleting your content</p>
<p>Showing you data</p>

<h3>Actions</h3>

<p>Deleted <span id="delete_comments">{{ job.comments_deleted }}</span> comments so far.</p>
<p>Deleted <span id="delete_submissions">{{ job.submissions_deleted }}</span> ports so far.</p>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  setInterval(function(){
  $.ajax({
    method: "GET",
    url: "http://localhost:8000/get_job_status/",
    data: { identifier: "{{ job.identifier }}" }
  })
    .done(function( msg ) {
      // TODO: Add error handling here as well
      $('#delete_comments').text(msg.comments_deleted);
      $('#delete_submissions').text(msg.submissions_deleted);

      // TODO: Fix hardcoding of state here
      if (msg.state >= 50) {
        $('#state_access').addClass('text-muted');
        $('#state_validate').addClass('text-muted');
        $('#state_deleting').addClass('text-muted');
      } else if (msg.state >= 40) {
        $('#state_access').addClass('text-muted');
        $('#state_validate').addClass('text-muted');
      } else if (msg.state >= 30) {
        $('#state_access').addClass('text-muted');
      }
    });
  }, 1000);
</script>
{% endblock %}
